.side_bar
  .form
    .form__box
      = form_for search_posts_path, method: :get, class: 'form__box--a' do |f|
        = f.text_field :kyeword, placeholder: "投稿を検索する", class: 'form__box--text'
        = f.submit 'Send', value:"Search", class:'form__box--btn'
        
  .side_bar__top Category

  .side_bar__main
    .ul
      .li<
        = link_to search_posts_path , class:"side_bar__main--R" do
          Restaurant
      .li< 
        = link_to "#" , class:"side_bar__main--C"do
          Cafe
      .li< 
        = link_to "#" , class:"side_bar__main--F"do
          Fashion
      .li< 
        = link_to "#" , class:"side_bar__main--L"do
          LifeStyle