.new
  .new-create
    .new-create__form
      New Post
    .new-create__input-box
      = form_for (@post), method: :post, class:"new_comment" do |f|
        #imageBox.items__images__upload
          .item-num-0#image-box__container
            = f.fields_for :photo, class: "image-label" do |i|
              %label{for:"user_img"}
                .image-box__container__box
                  = i.file_field :image, type: 'file', name: "item[photos_attributes][][image]", value:"", style: "display:none", class: "image-label__input", id: "user_img"
                  .image-box__container__box__word1
                    Click Me!
        .ul
          .li
            = f.label :Title
          .li
            = f.text_field :name, placeholder: 'name', class:'name'
        .ul
          .li
            = f.label :Age
          .li
            = f.text_field :age, placeholder: 'age', class:'age'
        
        .ul
          .li
            = f.label :Map
          .li
            = f.text_field :address, placeholder: 'address', class:'address'
        .ul 
          .li
            = f.label :Comment
          .li
            = f.text_area :text, rows: "10", class:'text'
        .actions
          = f.label :submit, class: 'input-box__image' do
            = icon 'fas', 'brain', class:'brain1'
            = f.submit "", class: 'btn'
            = icon 'fas', 'brain', class:'brain2' 