.new
  .new-create
    .new-create__form
      New Post
    .new-create__input-box
      = form_for @post, method: :post, id: :new_comment do |f|
        .ul
          .li
            = f.label :Title
          .li
            = f.text_field :name, placeholder: 'name', class:'name'
        .ul
          .li
            = f.label :Age
          .li
            = f.text_field :age, placeholder: 'age', class:'age'
        .ul
          .li
            = f.label :"画像"
          .li
            = f.text_field :image, placeholder: 'Image Url', class:'url'
        .ul
          .li
            = f.label :Map
          .li
            = f.text_field :address, placeholder: 'address', class:'address'
        .ul 
          .li
            = f.label :Comment
          .li
            = f.text_area :text, rows: "10", class:'text'
        .actions
          = f.label :submit, class: 'input-box__image' do
            = icon 'fas', 'brain', class:'brain1'
            = f.submit "", class: 'btn'
            = icon 'fas', 'brain', class:'brain2' 