.main
  .switch_age_type
    %ul
      %li
        = link_to "#" , class:"side_bar__main--10" do
          Teen
      %li
        = link_to "#" , class:"side_bar__main--20" do
          20's
      %li
        = link_to "#" , class:"side_bar__main--30" do
          30's
      %li
        = link_to "#" , class:"side_bar__main--40" do
          40's
      %li
        = link_to "#" , class:"side_bar__main--50" do
          50's
  .main_contents
    .main_contents_swich
      %ul
        %li
          = link_to "#" , class:"side_bar__main--new" do
            New
        %li
          = link_to "#" , class:"side_bar__main--runk" do
            Runking
    .contents_body
      .contents_body__list
       