!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Awesome4
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  .body
    .header
      .header__title 
        = link_to root_path, class:"header__title" do
          AweSome
        .ul
          .li 
            = link_to destroy_user_session_path, method: :delete do
              = icon('fas', 'sign-out-alt')
          .li
            = link_to new_post_path do
              = icon('fas', 'kiwi-bird',class: 'icon')
          - if user_signed_in?
            .li
              = link_to user_path(current_user.id) do
                = icon('fas', 'user-circle',class: 'icon')
    = yield
